* {
    margin: 0;
    padding: 0;
}

a,
.pagination > li > a,
.pagination > li > span {
    color: #00d7c6;
    text-decoration: none;
}

a:hover,
.pagination > li > a:hover,
.pagination > li > span:hover {
    color: #00c2b3;
    text-decoration: none;
}

ul {
    list-style: none;
}

.pagination > .green > a,
.pagination > .green > a:focus,
.pagination > .green > a:hover,
.pagination > .green > span,
.pagination > .green > span:focus,
.pagination > .green > span:hover,
.green,
.green:focus,
.green:hover {
    color: #fff;
    background-color: #00d7c6 !important;
    border-color: #00d7c6 !important;
}

.icon {
    width: 20px;
    height: 20px;
}

.contentElement {
    width: 1000px;
    margin: auto;
}

/*==================搜索框==================*/
#search_div {
    width: 900px;
    margin: 20px auto;
}

#search_input {
    width: 100%;
    margin: auto;
    height: 50px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.13);
    overflow: hidden;
}

#searchContent {
    height: 100%;
    outline: none;
    border: none;
    width: 750px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 20px;
}

#searchContent:hover {
    border: 1px solid #5dd5c8;
}

#searchBtn {
    float: right;
    width: 150px;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 18px;
    border: none;
    color: white;
    background: #5dd5c8;
}

/*==================搜索 热门==================*/
#search_hot {
    width: 100%;
    padding: 9px 0 26px 0;
}

#search_hot a {
    margin-left: 22px;
}

#search_hot span {
    color: #9fa3b0;
}


#selectRows > li {
    border: 1px solid #eee;
}

#selectRows .selectCols {
    display: flex;
    justify-content: start;
    text-align: left;
}

.selectCols > li:first-child {
    margin: 10px 5px 10px 10px;
    width: 70px;
}

.selectCols > li {
    margin: 10px 20px;
    cursor: default;
}

.choose {
    color: #00d7c6;
}

.btnBox {
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 0;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
}

.btnBox > div,
.btnBox > label {
    margin: 3px 6px;
    padding: 3px 6px;
    line-height: 30px;
}

.btn {
    background-color: #fff;
}

.contentElement table {
    width: 100%;
    text-align: center;
    border: 1px solid #eee;
}

.contentElement table tr {

}

.contentElement table td {
    line-height: 50px;
}

.contentElement table thead tr,
.contentElement table tbody tr:nth-child(2n) {
    background-color: #eee;
}

.contentElement table tr td:nth-child(1) {
    width: 50px;
}

.contentElement table tr td:nth-child(2) {
    width: 250px;
}

.contentElement table tr td:nth-child(3) {
    width: 250px;
}

.contentElement table tr td:nth-child(4) {
    width: 200px;
}

.contentElement table tr td:nth-child(5) {
    width: 150px;
}

.contentElement table tr td:nth-child(6) {
    width: 100px;
}

.center {
    text-align: center;
}

#msg{
    color: #FF5722;
    font-size: 18px;
    font-style: italic;
}
/*=====================================================*/


/*.search {*/
/*width: 80%;*/
/*height: 140px;*/
/*background-color: darkgray;*/
/*margin: 0 auto;*/
/*padding-top: 5px;*/
/*}*/

/*.text {*/
/*width: 972px;*/
/*height: 90px;*/
/*!*line-height: 10px;*!*/
/*background-color: #fff;*/
/*margin: 0 auto;*/
/*border-radius: 2px;*/
/*top: 10px;*/
/*}*/

/*.text .el_q {*/
/*width: 240px;*/
/*height: 90px;*/
/*!*background-color:#b2dba1;*!*/
/*float: left;*/
/*border-right: 1px solid #e8e8e8;*/
/*}*/

/*#quanwen {*/
/*width: 240px;*/
/*height: 58px;*/
/*!*background-color: #e3e4e5;*!*/
/*}*/

/*ul li {*/
/*list-style: none;*/
/*}*/

/*ul .all {*/
/*width: 75px;*/
/*height: 56px;*/
/*!*background-color: yellowgreen;*!*/
/*text-align: center;*/
/*line-height: 56px;*/
/*float: left;*/
/*display: block;*/
/*color: #636985;*/
/*font-size: 16px;*/
/*}*/

/*ul .search-company {*/
/*width: 75px;*/
/*height: 56px;*/
/*!* background-color: aqua;*!*/
/*text-align: center;*/
/*line-height: 56px;*/
/*font-size: 12px;*/
/*float: right;*/
/*}*/

/*ul .search-company a {*/
/*text-decoration: none;*/
/*color: #999999;*/
/*}*/

/*.text .ipt {*/
/*width: 229px;*/
/*!*height: 28px;*!*/
/*!*line-height: 28px;*!*/
/*background-color: #fff;*/
/*color: #999999;*/
/*font-size: 14px;*/
/*}*/

/*.text .ipt input {*/
/*width: 229px;*/
/*!*height: 28px;*!*/
/*!*margin-top: 4px;*!*/
/*line-height: 24px;*/
/*display: block;*/
/*text-align: left;*/
/*color: #333;*/
/*border: 0 none;*/
/*outline: none;*/
/*text-indent: 15px;*/
/*}*/

/*.work_position {*/
/*width: 160px;*/
/*height: 90px;*/
/*background-color: #fff;*/
/*float: left;*/
/*display: inline-block;*/
/*border-right: 1px solid #e8e8e8;*/
/*}*/

/*.work_position .hdl {*/
/*width: 144px;*/
/*height: 58px;*/
/*line-height: 58px;*/
/*float: left;*/
/*font-size: 16px;*/
/*color: #636985;*/
/*text-indent: 15px;*/
/*}*/

/*.work_position input {*/
/*width: 144px;*/
/*height: 24px;*/
/*line-height: 24px;*/
/*color: #333;*/
/*border: 0 none;*/
/*outline: none;*/
/*text-indent: 15px;*/
/*}*/

/*.work_type {*/
/*width: 226px;*/
/*height: 90px;*/
/*background-color: #fff;*/
/*float: left;*/
/*display: inline-block;*/
/*border-right: 1px solid #e8e8e8;*/
/*}*/

/*.work_type .hdl {*/
/*width: 144px;*/
/*height: 58px;*/
/*line-height: 58px;*/
/*float: left;*/
/*font-size: 16px;*/
/*color: #636985;*/
/*text-indent: 15px;*/
/*}*/

/*.work_type input {*/
/*width: 210px;*/
/*height: 24px;*/
/*line-height: 24px;*/
/*color: #333;*/
/*border: 0 none;*/
/*outline: none;*/
/*text-indent: 15px;*/
/*}*/

/*.ability_type {*/
/*width: 225px;*/
/*height: 90px;*/
/*background-color: #fff;*/
/*float: left;*/
/*display: inline-block;*/
/*!*border-right:1px solid #e8e8e8 ;*!*/
/*}*/

/*.ability_type .hdl {*/
/*width: 144px;*/
/*height: 58px;*/
/*line-height: 58px;*/
/*float: left;*/
/*font-size: 16px;*/
/*color: #636985;*/
/*text-indent: 15px;*/
/*}*/

/*.ability_type input {*/
/*width: 210px;*/
/*height: 24px;*/
/*line-height: 24px;*/
/*color: #333;*/
/*border: 0 none;*/
/*outline: none;*/
/*text-indent: 15px;*/
/*}*/

/*.text .p_but {*/
/*width: 90px;*/
/*height: 44px;*/
/*line-height: 44px;*/
/*font-weight: bold;*/
/*font-size: 16px;*/
/*float: right;*/
/*margin: 22px 17px 0 0;*/
/*}*/

/*.p_but {*/
/*background-color: #00d7c6;*/
/*border: 1px solid #2ABCB9;*/
/*border-radius: 2px;*/
/*color: #fff;*/
/*text-align: center;*/
/*cursor: pointer;*/
/*}*/

/*.dw_recommend {*/
/*width: 972px;*/
/*height: 34px;*/
/*margin: 0 auto;*/
/*!*background-color: lightcyan;*!*/
/*font-size: 12px;*/
/*line-height: 34px;*/
/*margin-top: 8px;*/
/*text-indent: 15px;*/
/*}*/

/*.dw_recommend .title {*/
/*display: inline-block;*/
/*float: left;*/
/*}*/

/*.dw_recommend a {*/
/*display: inline-block;*/
/*float: left;*/
/*text-decoration: none;*/
/*color: #fff;*/
/*}*/


/*.main {*/
/*float: left;*/
/*position: relative;*/
/*top: 20px;*/
/*width: 70%;*/
/*height: 400px;*/
/*!*background-color: bisque;*!*/
/*left: 15%;*/
/*border: 1px solid #dcdcdc;*/
/*}*/

/*.el {*/
/*position: relative;*/
/*width: 100%;*/
/*height: 40px;*/
/*!*background-color: cornflowerblue;*!*/
/*line-height: 40px;*/
/*border-bottom: 1px solid #dcdcdc;*/
/*}*/

/*.el span {*/
/*display: inline-block;*/
/*position: relative;*/
/*margin-left: 20px;*/
/*width: 60px;*/
/*height: 40px;*/
/*!*border: 1px solid bisque;*!*/
/*font-size: 12px;*/
/*color: gray;*/
/*float: left;*/
/*}*/

/*.el ul {*/
/*width: 100%;*/
/*height: 40px;*/
/*list-style: none;*/
/*line-height: 40px;*/
/*}*/

/*.el ul li {*/
/*!*float: left;*!*/
/*position: relative;*/
/*display: inline-block;*/
/*margin-left: 30px;*/
/*line-height: 40px;*/
/*}*/

/*.el ul li a {*/
/*width: 86px;*/
/*height: 40px;*/
/*float: left;*/
/*text-decoration: none;*/
/*font-size: 12px;*/
/*color: gray;*/
/*}*/

/*.el ul .all {*/
/*width: 86px;*/
/*height: 40px;*/
/*line-height: 40px;*/
/*color: #00d7c6;*/
/*}*/

/*.main .in {*/
/*width: 60px;*/
/*height: 40px;*/
/*!*background-color: red;*!*/
/*font-size: 12px;*/
/*color: gray;*/
/*line-height: 40px;*/
/*margin-top: 40px;*/
/*margin-left: 20px;*/
/*display: block;*/
/*position: absolute;*/
/*}*/

/*.main .in p {*/
/*display: inline-block;*/
/*float: left;*/
/*width: 600px;*/
/*height: 40px;*/
/*!*background-color: pink;*!*/
/*margin-left: 80px;*/
/*margin-top: -40px;*/
/*}*/

/*.pitch {*/
/*color: #00d7c6 !important;*/
/*}*/

/*.fenye {*/
/*width: 75%;*/
/*height: 600px;*/
/*!*background-color:pink;*!*/
/*margin: auto;*/
/*margin-top: 500px;*/
/*}*/

/*.dw_tlc {*/
/*width: 100%;*/
/*height: 42px;*/
/*background-color: #fafafa;*/
/*overflow: hidden;*/
/*}*/

/*.dw_tlc .chall {*/
/*width: 81px;*/
/*height: 42px;*/
/*!*background: palegreen;*!*/
/*text-align: center;*/
/*line-height: 42px;*/
/*font-size: 12px;*/
/*color: #999999;*/
/*border-right: 1px solid gray;*/
/*float: left;*/
/*}*/

/*.dw_tlc .op {*/
/*width: 280px;*/
/*height: 35px;*/
/*!* background: palegreen;*!*/
/*display: inline-block;*/
/*float: left;*/
/*position: relative;*/
/*font-size: 12px;*/
/*line-height: 35px;*/
/*}*/

/*.dw_tlc .op span {*/
/*float: left;*/
/*width: 123px;*/
/*height: 26px;*/
/*line-height: 26px;*/
/*font-size: 12px;*/
/*cursor: pointer;*/
/*margin: 7px 0 0 15px;*/
/*border-radius: 2px;*/
/*}*/

/*.dw_tlc .but_squck {*/
/*color: #FFF;*/
/*background-color: #00d7c6;*/
/*border: 1px solid #2ABCB9;*/
/*}*/

/*.dw_tlc .but_squck:hover {*/
/*background-color: #999;*/
/*}*/

/*.dw_tlc .op i {*/
/*float: left;*/
/*width: 20px;*/
/*height: 20px;*/
/*margin: 3px 2px 0 25px;*/
/*}*/

/*.dw_tlc .but_squck i {*/
/*background-position: -70px 0;*/
/*}*/


/*.dw_tlc .but_scuck {*/
/*background-color: #fff;*/
/*border: 1px solid #2ABCB9;*/
/*}*/

/*.dw_tlc .but_scuck:hover {*/
/*color: #fff;*/
/*background-color: #999;*/
/*opacity: 0.7;*/
/*}*/

/*.order_sort {*/
/*width: 120px;*/
/*height: 100%;*/
/*!*background-color: yellowgreen;*!*/
/*border-left: 1px solid lightgray;*/
/*display: inline-block;*/
/*position: relative;*/
/*float: left;*/
/*left: 100px;*/
/*color: #00d7c6;*/
/*}*/

/*.order_sort .but_smuck {*/
/*position: absolute;*/
/*!* width: 20px;*!*/
/*width: 100%;*/
/*height: 20px;*/
/*top: 11px;*/
/*left: 16px;*/
/*z-index: 2;*/
/*background-size: 100% 100%;*/
/*}*/

/*.order_sort i {*/
/*font-size: 13px;*/
/*height: 100%;*/
/*position: relative;*/
/*display: inline-block;*/
/*float: left;*/
/*padding-left: 30px;*/
/*font-style: normal;*/
/*}*/

/*.order_time {*/
/*width: 120px;*/
/*height: 100%;*/
/*!* background-color: royalblue;*!*/
/*border-left: 1px solid lightgray;*/
/*display: inline-block;*/
/*position: relative;*/
/*float: left;*/
/*left: 100px;*/
/*color: #999;*/
/*}*/

/*.order_time .but_sluck {*/
/*position: absolute;*/
/*!* width: 20px;*!*/
/*width: 100px;*/
/*height: 20px;*/
/*top: 11px;*/
/*left: 16px;*/
/*z-index: 2;*/
/*background-size: 100% 100%;*/
/*}*/

/*.order_time i {*/
/*font-size: 13px;*/
/*height: 100%;*/
/*position: relative;*/
/*display: inline-block;*/
/*float: left;*/
/*padding-left: 30px;*/
/*font-style: normal;*/
/*}*/

/*.rt {*/
/*width: 120px;*/
/*height: 42px;*/
/*font-size: 12px;*/
/*!*background-color: darkseagreen;*!*/
/*border-left: 1px solid lightgray;*/
/*display: inline-block;*/
/*position: relative;*/
/*float: left;*/
/*left: 100px;*/
/*color: #999;*/
/*text-align: center;*/
/*line-height: 42px;*/
/*}*/

/*.ro {*/
/*width: 125px;*/
/*!*background-color: #ffff00;*!*/
/*border-left: 1px solid lightgray;*/
/*}*/

/*.el_title {*/
/*width: 100%;*/
/*height: 30px;*/
/*!* background-color:peru ;*!*/
/*display: inline-block;*/
/*position: relative;*/
/*font-size: 12px;*/
/*float: left;*/
/*border-bottom: 1px solid #999999;*/
/*}*/

/*.el_title .t1 {*/
/*width: 300px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!* background-color: rosybrown;*!*/
/*float: left;*/
/*}*/

/*.el_title .t2 {*/
/*width: 275px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: firebrick;*!*/
/*float: left;*/
/*}*/

/*.el_title .t3 {*/
/*width: 120px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: greenyellow;*!*/
/*float: left;*/
/*}*/

/*.el_title .t4 {*/
/*width: 140px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: aqua;*!*/
/*float: left;*/
/*}*/

/*.el_title .t5 {*/
/*width: 112px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: darkgoldenrod;*!*/
/*float: left;*/
/*}*/

/*.yl {*/
/*display: inline-block;*/
/*width: 300px;*/
/*height: 30px;*/
/*text-align: left;*/
/*line-height: 30px;*/
/*!* background-color: teal;*!*/
/*float: left;*/

/*border-bottom: 1px dashed #999999;*/
/*}*/

/*.yl .check {*/
/*width: 15px;*/
/*height: 15px;*/
/*margin-left: 20px;*/
/*}*/

/*.yl .position {*/
/*font-size: 16px;*/
/*margin-left: 10px;*/
/*}*/

/*.yl .position a {*/
/*text-decoration: none;*/
/*color: #333333;*/
/*}*/

/*.l2 {*/
/*width: 275px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: lightblue;*!*/
/*float: left;*/
/*border-bottom: 1px dashed #999999;*/
/*}*/

/*.l2 a {*/
/*text-decoration: none;*/
/*font-size: 14px;*/
/*color: #666666;*/
/*}*/

/*.l3 {*/
/*width: 120px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: thistle;*!*/
/*float: left;*/
/*font-size: 14px;*/
/*color: #999999;*/
/*border-bottom: 1px dashed #999999;*/
/*}*/

/*.l4 {*/
/*width: 140px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: #f0ad4e;*!*/
/*float: left;*/
/*font-size: 16px;*/
/*color: #00d7c6;*/
/*border-bottom: 1px dashed #999999;*/
/*}*/

/*.l5 {*/
/*width: 112px;*/
/*height: 30px;*/
/*text-align: center;*/
/*line-height: 30px;*/
/*!*background-color: darkgoldenrod;*!*/
/*float: left;*/
/*font-size: 14px;*/
/*color: #999999;*/
/*border-bottom: 1px dashed #999999;*/
/*}*/

/*#demo1 {*/
/*margin-left: 30%;*/
/*}*/
